@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital,wght@0,400;1,300&display=swap');

.pagination{
    display: flex;
    list-style: none;
    margin:20px auto;
}

.page-item{
	padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    color: #dcdcdc;
}

.disabled{
    cursor: not-allowed;
    
}

.active{
	border: 2px solid #dcdcdc;
  background-color: #dcdcdc;
    font-weight: bold;
    color: black;
}

.previous{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}

.break{
    padding: 10px;
    color:#dcdcdc;
}

.next{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}



